
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

html {
  color: honeydew;
  padding: 0;
  margin: 0;
  background-color: honeydew;
}

#canvas4 {
  background: -webkit-linear-gradient(white, cyan);
  background-color: lightgreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  grid-column-start: 2;
  grid-column-end: 5;
}

h1 {
  color: darkslateblue;
  margin: auto;
  font-size: 52px;
  font-family: 'Fira Mono';
  letter-spacing: -4px;
}

#Brick-breaker {
  animation: glitch 1s linear infinite;
  text-shadow: 2px 2px 5px darkseagreen;
}

/* div{
} */

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 2s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-3px,0);
  }
  4%,60%{
    transform: translate(-3px,0);
  }
  62%{
    transform: translate(-25px,6px) skew(21deg); 
  }
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px;
  color: darkseagreen;
  border-right: solid 3px darkslateblue;
  white-space: nowrap;
  overflow: hidden;  
  font-size: 17px;
  color: seafoamgreen;
}
h4 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: darkslateblue;}
    to{border-right-color: transparent;}
  }

  #wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  80% 20%;
    grid-gap: 20px;
    z-index: 1;
}

.score-item {
    width: 300px;
    background-color: darkseagreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px;
    border-radius: 4px;
    padding: 15px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
  display: flex;

}

.btn {
    background-color: darkseagreen; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    margin-left: 4px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    /* opacity: 85%; */
  }
  
/*changes button color on hover*/
  .btn:hover {
    color: coral;

  }

  #star {
    color: coral;
    /* opacity: 85%; */
    padding: 0 6px;
  }

  .heading {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px grey;
  }