
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

html {
  color: honeydew;
  padding: 0;
  margin: 0;
  background-color: honeydew;
}

#canvas4 {
  background: #00ff00;
  background: -webkit-linear-gradient(white, cyan);
  display: block;
  margin: 0 auto;
  z-index: 1;
}

#brick-breaker h1 {
  color: darkslateblue;
  margin: auto;
  font-size: 52px;
  font-family: 'Fira Mono';
  letter-spacing: -4px;
  animation: glitch 1s linear infinite;
}

/* div{
} */

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 2s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-3px,0);
  }
  4%,60%{
    transform: translate(-3px,0);
  }
  62%{
    transform: translate(-25px,6px) skew(21deg); 
  }
}

h4 {
  font: 'Fira Mono';
  font-size: 14px;
  color: darkseagreen;
}