body {
    background-image: url("https://miro.medium.com/max/1400/1*hFwwQAW45673VGKrMPE2qQ.png");
    background-size: cover;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px;
    color:white;
    border-right: solid 3px darkslateblue;
    white-space: nowrap;
    overflow: hidden;  
    font-size: 17px;
  }

  h4 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
  }