/* #canvas1 {
    background-color: white;
    display: block;
    margin: 0 auto;
    z-index: 4;
}

#canvas2 {
    background-color: black;
    display: block;
    margin: 0 auto;
    z-index: 3;
}

#canvas3 {
    background-color: pink;
    display: block;
    margin: 0 auto;
    z-index: 2;
} */

ul {
    list-style-type: none;
}